/*+**********************************************************************************
* The contents of this file are subject to the Productivito Public License Version 1.0
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: Productivito Open Source
* The Initial Developer of the Original Code is Productivito SRL.
* Portions created by Productivito are Copyright (C) Productivito.
* All Rights Reserved.
************************************************************************************/

# Rewrite rules for Zend Framework
Options +FollowSymLinks
php_flag magic_quotes_gpc Off
IndexOptions IgnoreClient
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)	[NC]
RewriteRule .* - [F]

RewriteBase /
RewriteRule ^(/)?$ %{REQUEST_URI}public	[L]
